body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

.pokemoncard {
  transition: all .3s ease-in-out !important;
}

.pokemoncard:hover {
  transform: translateY(-8px);
}